### Module 3 Coding Assignment

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import datetime

%matplotlib inline
sns.set_style('dark')
sns.set(font_scale=1.2)

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

np.random.seed(0)
np.set_printoptions(suppress=True)

Retrieve all the records from the Employees table

In [2]:
track = pd.read_csv("Track.csv")

In [3]:
track

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,NaN,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,NaN,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

Using a subquery, find the names of all the tracks for the album "Californication

In [4]:
cali = track[track["Name"] == "Californication"]

In [5]:
cali

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
2395,2396,Californication,195,1,1,Red Hot Chili Peppers,321671,10568999,0.99

Not found

Find the total number of invoices for each customer along with the customer's full name, city and email

In [6]:
customers = pd.read_csv("Customer.csv")

In [7]:
customers

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
2,3,François,Tremblay,NaN,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,NaN,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,NaN,Ullevålsveien 14,Oslo,NaN,Norway,0171,+47 22 44 22 22,NaN,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,NaN,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,NaN,Rilská 3174/6,Prague,NaN,Czech Republic,14300,+420 2 4177 0449,NaN,hholy@gmail.com,5
6,7,Astrid,Gruber,NaN,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,NaN,Austria,1010,+43 01 5134505,NaN,astrid.gruber@apple.at,5
7,8,Daan,Peeters,NaN,Grétrystraat 63,Brussels,NaN,Belgium,1000,+32 02 219 03 03,NaN,daan_peeters@apple.be,4
8,9,Kara,Nielsen,NaN,Sønder Boulevard 51,Copenhagen,NaN,Denmark,1720,+453 3331 9991,NaN,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,NaN,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,NaN,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,NaN,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,NaN,dmiller@comcast.com,4
20,21,Kathy,Chase,NaN,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,NaN,kachase@hotmail.com,5
21,22,Heather,Leacock,NaN,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,NaN,hleacock@gmail.com,4
22,23,John,Gordon,NaN,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,NaN,johngordon22@yahoo.com,4
23,24,Frank,Ralston,NaN,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,NaN,fralston@gmail.com,3
24,25,Victor,Stevens,NaN,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,NaN,vstevens@yahoo.com,5
25,26,Richard,Cunningham,NaN,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,NaN,ricunningham@hotmail.com,4
26,27,Patrick,Gray,NaN,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,NaN,patrick.gray@aol.com,4
27,28,Julia,Barnett,NaN,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,NaN,jubarnett@gmail.com,5
28,29,Robert,Brown,NaN,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,NaN,robbrown@shaw.ca,3
29,30,Edward,Francis,NaN,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,NaN,edfrancis@yachoo.ca,3
30,31,Martha,Silk,NaN,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,NaN,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,NaN,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,NaN,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,NaN,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,NaN,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,NaN,Rua da Assunção 53,Lisbon,NaN,Portugal,NaN,+351 (213) 466-111,NaN,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
35,36,Hannah,Schneider,NaN,Tauentzienstraße 8,Berlin,NaN,Germany,10789,+49 030 26550280,NaN,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,NaN,Berger Straße 10,Frankfurt,NaN,Germany,60316,+49 069 40598889,NaN,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,NaN,Barbarossastraße 19,Berlin,NaN,Germany,10779,+49 030 2141444,NaN,nschroder@surfeu.de,3
38,39,Camille,Bernard,NaN,"4, Rue Milton",Paris,NaN,France,75009,+33 01 49 70 65 65,NaN,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,NaN,"8, Rue Hanovre",Paris,NaN,France,75002,+33 01 47 42 71 71,NaN,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,NaN,"11, Place Bellecour",Lyon,NaN,France,69002,+33 04 78 30 30 30,NaN,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,NaN,"9, Place Louis Barthou",Bordeaux,NaN,France,33000,+33 05 56 96 96 96,NaN,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,NaN,"68, Rue Jouvence",Dijon,NaN,France,21000,+33 03 80 73 66 99,NaN,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,00530,+358 09 870 2000,NaN,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,NaN,Erzsébet krt. 58.,Budapest,NaN,Hungary,H-1073,NaN,NaN,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,NaN,3 Chatham Street,Dublin,Dublin,Ireland,NaN,+353 01 6792424,NaN,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,NaN,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,NaN,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,NaN,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,NaN,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,NaN,Ordynacka 10,Warsaw,NaN,Poland,00-358,+48 22 828 37 39,NaN,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,NaN,C/ San Bernardo 85,Madrid,NaN,Spain,28015,+34 914 454 454,NaN,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,NaN,Celsiusg. 9,Stockholm,NaN,Sweden,11230,+46 08-651 52 52,NaN,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,NaN,202 Hoxton Street,London,NaN,United Kingdom,N1 5LH,+44 020 7707 0707,NaN,emma_jones@hotmail.com,3
52,53,Phil,Hughes,NaN,113 Lupus St,London,NaN,United Kingdom,SW1V 3EN,+44 020 7976 5722,NaN,phil.hughes@gmail.com,3
53,54,Steve,Murray,NaN,110 Raeburn Pl,Edinburgh,NaN,United Kingdom,EH4 1HH,+44 0131 315 3300,NaN,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,NaN,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,NaN,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,NaN,307 Macacha Güemes,Buenos Aires,NaN,Argentina,1106,+54 (0)11 4311 4333,NaN,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,NaN,"Calle Lira, 198",Santiago,NaN,Chile,NaN,+56 (0)2 635 4444,NaN,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,NaN,"12,Community Centre",Delhi,NaN,India,110017,+91 0124 39883988,NaN,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,3

In [8]:
invoices = pd.read_csv("Invoice.csv")

In [9]:
invoices

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,NaN,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,NaN,Belgium,1000,5.94
3,4,14,2009-01-06 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,2009-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86
...,...,...,...,...,...,...,...,...,...
407,408,25,2013-12-05 00:00:00,319 N. Frances Street,Madison,WI,USA,53703,3.96
408,409,29,2013-12-06 00:00:00,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
409,410,35,2013-12-09 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,8.91
410,411,44,2013-12-14 00:00:00,Porthaninkatu 9,Helsinki,NaN,Finland,00530,13.86
411,412,58,2013-12-22 00:00:00,"12,Community Centre",Delhi,NaN,India,110017,1.99

In [10]:
new_df1 = pd.merge(left=customers, right=invoices, on="CustomerId", how="inner")

In [11]:
new_df1

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId,InvoiceId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,98,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98
1,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,121,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96
2,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,143,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94
3,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,195,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99
4,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,316,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,3,45,2009-07-08 00:00:00,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,5.94
408,59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,3,97,2010-02-26 00:00:00,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,1.99
409,59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,3,218,2011-08-20 00:00:00,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,1.98
410,59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,3,229,2011-09-30 00:00:00,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,13.86
411,59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,3,284,2012-05-30 00:00:00,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,8.91

Find the total number of invoices for each customer along with the customer's full name, city and email

In [12]:
new_df1.groupby("CustomerId")["FirstName",'LastName','City','Email'].sum()

,FirstName,LastName,City,Email
CustomerId,,,,
1,LuísLuísLuísLuísLuísLuísLuís,GonçalvesGonçalvesGonçalvesGonçalvesGonçalvesG...,São José dos CamposSão José dos CamposSão José...,luisg@embraer.com.brluisg@embraer.com.brluisg@...
2,LeonieLeonieLeonieLeonieLeonieLeonieLeonie,KöhlerKöhlerKöhlerKöhlerKöhlerKöhlerKöhler,StuttgartStuttgartStuttgartStuttgartStuttgartS...,leonekohler@surfeu.deleonekohler@surfeu.deleon...
3,FrançoisFrançoisFrançoisFrançoisFrançoisFranço...,TremblayTremblayTremblayTremblayTremblayTrembl...,MontréalMontréalMontréalMontréalMontréalMontré...,ftremblay@gmail.comftremblay@gmail.comftrembla...
4,BjørnBjørnBjørnBjørnBjørnBjørnBjørn,HansenHansenHansenHansenHansenHansenHansen,OsloOsloOsloOsloOsloOsloOslo,bjorn.hansen@yahoo.nobjorn.hansen@yahoo.nobjor...
5,FrantišekFrantišekFrantišekFrantišekFrantišekF...,WichterlováWichterlováWichterlováWichterlováWi...,PraguePraguePraguePraguePraguePraguePrague,frantisekw@jetbrains.comfrantisekw@jetbrains.c...
6,HelenaHelenaHelenaHelenaHelenaHelenaHelena,HolýHolýHolýHolýHolýHolýHolý,PraguePraguePraguePraguePraguePraguePrague,hholy@gmail.comhholy@gmail.comhholy@gmail.comh...
7,AstridAstridAstridAstridAstridAstridAstrid,GruberGruberGruberGruberGruberGruberGruber,VienneVienneVienneVienneVienneVienneVienne,astrid.gruber@apple.atastrid.gruber@apple.atas...
8,DaanDaanDaanDaanDaanDaanDaan,PeetersPeetersPeetersPeetersPeetersPeetersPeeters,BrusselsBrusselsBrusselsBrusselsBrusselsBrusse...,daan_peeters@apple.bedaan_peeters@apple.bedaan...
9,KaraKaraKaraKaraKaraKaraKara,NielsenNielsenNielsenNielsenNielsenNielsenNielsen,CopenhagenCopenhagenCopenhagenCopenhagenCopenh...,kara.nielsen@jubii.dkkara.nielsen@jubii.dkkara...
10,EduardoEduardoEduardoEduardoEduardoEduardoEduardo,MartinsMartinsMartinsMartinsMartinsMartinsMartins,São PauloSão PauloSão PauloSão PauloSão PauloS...,eduardo@woodstock.com.breduardo@woodstock.com....
11,AlexandreAlexandreAlexandreAlexandreAlexandreA...,RochaRochaRochaRochaRochaRochaRocha,São PauloSão PauloSão PauloSão PauloSão PauloS...,alero@uol.com.bralero@uol.com.bralero@uol.com....
12,RobertoRobertoRobertoRobertoRobertoRobertoRoberto,AlmeidaAlmeidaAlmeidaAlmeidaAlmeidaAlmeidaAlmeida,Rio de JaneiroRio de JaneiroRio de JaneiroRio ...,roberto.almeida@riotur.gov.brroberto.almeida@r...
13,FernandaFernandaFernandaFernandaFernandaFernan...,RamosRamosRamosRamosRamosRamosRamos,BrasíliaBrasíliaBrasíliaBrasíliaBrasíliaBrasíl...,fernadaramos4@uol.com.brfernadaramos4@uol.com....
14,MarkMarkMarkMarkMarkMarkMark,PhilipsPhilipsPhilipsPhilipsPhilipsPhilipsPhilips,EdmontonEdmontonEdmontonEdmontonEdmontonEdmont...,mphilips12@shaw.camphilips12@shaw.camphilips12...
15,JenniferJenniferJenniferJenniferJenniferJennif...,PetersonPetersonPetersonPetersonPetersonPeters...,VancouverVancouverVancouverVancouverVancouverV...,jenniferp@rogers.cajenniferp@rogers.cajennifer...
16,FrankFrankFrankFrankFrankFrankFrank,HarrisHarrisHarrisHarrisHarrisHarrisHarris,Mountain ViewMountain ViewMountain ViewMountai...,fharris@google.comfharris@google.comfharris@go...
17,JackJackJackJackJackJackJack,SmithSmithSmithSmithSmithSmithSmith,RedmondRedmondRedmondRedmondRedmondRedmondRedmond,jacksmith@microsoft.comjacksmith@microsoft.com...
18,MichelleMichelleMichelleMichelleMichelleMichel...,BrooksBrooksBrooksBrooksBrooksBrooksBrooks,New YorkNew YorkNew YorkNew YorkNew YorkNew Yo...,michelleb@aol.commichelleb@aol.commichelleb@ao...
19,TimTimTimTimTimTimTim,GoyerGoyerGoyerGoyerGoyerGoyerGoyer,CupertinoCupertinoCupertinoCupertinoCupertinoC...,tgoyer@apple.comtgoyer@apple.comtgoyer@apple.c...
20,DanDanDanDanDanDanDan,MillerMillerMillerMillerMillerMillerMiller,Mountain ViewMountain ViewMountain ViewMountai...,dmiller@comcast.comdmiller@comcast.comdmiller@...
21,KathyKathyKathyKathyKathyKathyKathy,ChaseChaseChaseChaseChaseChaseChase,RenoRenoRenoRenoRenoRenoReno,kachase@hotmail.comkachase@hotmail.comkachase@...
22,HeatherHeatherHeatherHeatherHeatherHeatherHeather,LeacockLeacockLeacockLeacockLeacockLeacockLeacock,OrlandoOrlandoOrlandoOrlandoOrlandoOrlandoOrlando,hleacock@gmail.comhleacock@gmail.comhleacock@g...
23,JohnJohnJohnJohnJohnJohnJohn,GordonGordonGordonGordonGordonGordonGordon,BostonBostonBostonBostonBostonBostonBoston,johngordon22@yahoo.comjohngordon22@yahoo.comjo...
24,FrankFrankFrankFrankFrankFrankFrank,RalstonRalstonRalstonRalstonRalstonRalstonRalston,ChicagoChicagoChicagoChicagoChicagoChicagoChicago,fralston@gmail.comfralston@gmail.comfralston@g...
25,VictorVictorVictorVictorVictorVictorVictor,StevensStevensStevensStevensStevensStevensStevens,MadisonMadisonMadisonMadisonMadisonMadisonMadison,vstevens@yahoo.comvstevens@yahoo.comvstevens@y...
26,RichardRichardRichardRichardRichardRichardRichard,CunninghamCunninghamCunninghamCunninghamCunnin...,Fort WorthFort WorthFort WorthFort WorthFort W...,ricunningham@hotmail.comricunningham@hotmail.c...
27,PatrickPatrickPatrickPatrickPatrickPatrickPatrick,GrayGrayGrayGrayGrayGrayGray,TucsonTucsonTucsonTucsonTucsonTucsonTucson,patrick.gray@aol.compatrick.gray@aol.compatric...
28,JuliaJuliaJuliaJuliaJuliaJuliaJulia,BarnettBarnettBarnettBarnettBarnettBarnettBarnett,Salt Lake CitySalt Lake CitySalt Lake CitySalt...,jubarnett@gmail.comjubarnett@gmail.comjubarnet...
29,RobertRobertRobertRobertRobertRobertRobert,BrownBrownBrownBrownBrownBrownBrown,TorontoTorontoTorontoTorontoTorontoTorontoToronto,robbrown@shaw.carobbrown@shaw.carobbrown@shaw....
30,EdwardEdwardEdwardEdwardEdwardEdwardEdward,FrancisFrancisFrancisFrancisFrancisFrancisFrancis,OttawaOttawaOttawaOttawaOttawaOttawaOttawa,edfrancis@yachoo.caedfrancis@yachoo.caedfranci...
31,MarthaMarthaMarthaMarthaMarthaMarthaMartha,SilkSilkSilkSilkSilkSilkSilk,HalifaxHalifaxHalifaxHalifaxHalifaxHalifaxHalifax,marthasilk@gmail.commarthasilk@gmail.commartha...
32,AaronAaronAaronAaronAaronAaronAaron,MitchellMitchellMitchellMitchellMitchellMitche...,WinnipegWinnipegWinnipegWinnipegWinnipegWinnip...,aaronmitchell@yahoo.caaaronmitchell@yahoo.caaa...
33,EllieEllieEllieEllieEllieEllieEllie,SullivanSullivanSullivanSullivanSullivanSulliv...,YellowknifeYellowknifeYellowknifeYellowknifeYe...,ellie.sullivan@shaw.caellie.sullivan@shaw.cael...
34,JoãoJoãoJoãoJoãoJoãoJoãoJoão,FernandesFernandesFernandesFernandesFernandesF...,LisbonLisbonLisbonLisbonLisbonLisbonLisbon,jfernandes@yahoo.ptjfernandes@yahoo.ptjfernand...
35,MadalenaMadalenaMadalenaMadalenaMadalenaMadale...,SampaioSampaioSampaioSampaioSampaioSampaioSampaio,PortoPortoPortoPortoPortoPortoPorto,masampaio@sapo.ptmasampaio@sapo.ptmasampaio@sa...
36,HannahHannahHannahHannahHannahHannahHannah,SchneiderSchneiderSchneiderSchneiderSchneiderS...,BerlinBerlinBerlinBerlinBerlinBerlinBerlin,hannah.schneider@yahoo.dehannah.schneider@yaho...
37,FynnFynnFynnFynnFynnFynnFynn,ZimmermannZimmermannZimmermannZimmermannZimmer...,FrankfurtFrankfurtFrankfurtFrankfurtFrankfurtF...,fzimmermann@yahoo.defzimmermann@yahoo.defzimme...
38,NiklasNiklasNiklasNiklasNiklasNiklasNiklas,SchröderSchröderSchröderSchröderSchröderSchröd...,BerlinBerlinBerlinBerlinBerlinBerlinBerlin,nschroder@surfeu.denschroder@surfeu.denschrode...
39,CamilleCamilleCamilleCamilleCamilleCamilleCamille,BernardBernardBernardBernardBernardBernardBernard,ParisParisParisParisParisParisParis,camille.bernard@yahoo.frcamille.bernard@yahoo....
40,DominiqueDominiqueDominiqueDominiqueDominiqueD...,LefebvreLefebvreLefebvreLefebvreLefebvreLefebv...,ParisParisParisParisParisParisParis,dominiquelefebvre@gmail.comdominiquelefebvre@g...
41,MarcMarcMarcMarcMarcMarcMarc,DuboisDuboisDuboisDuboisDuboisDuboisDubois,LyonLyonLyonLyonLyonLyonLyon,marc.dubois@hotmail.commarc.dubois@hotmail.com...
42,WyattWyattWyattWyattWyattWyattWyatt,GirardGirardGirardGirardGirardGirardGirard,BordeauxBordeauxBordeauxBordeauxBordeauxBordea...,wyatt.girard@yahoo.frwyatt.girard@yahoo.frwyat...
43,IsabelleIsabelleIsabelleIsabelleIsabelleIsabel...,MercierMercierMercierMercierMercierMercierMercier,DijonDijonDijonDijonDijonDijonDijon,isabelle_mercier@apple.frisabelle_mercier@appl...
44,TerhiTerhiTerhiTerhiTerhiTerhiTerhi,HämäläinenHämäläinenHämäläinenHämäläinenHämälä...,HelsinkiHelsinkiHelsinkiHelsinkiHelsinkiHelsin...,terhi.hamalainen@apple.fiterhi.hamalainen@appl...
45,LadislavLadislavLadislavLadislavLadislavLadisl...,KovácsKovácsKovácsKovácsKovácsKovácsKovács,BudapestBudapestBudapestBudapestBudapestBudape...,ladislav_kovacs@apple.huladislav_kovacs@apple....
46,HughHughHughHughHughHughHugh,O'ReillyO'ReillyO'ReillyO'ReillyO'ReillyO'Reil...,DublinDublinDublinDublinDublinDublinDublin,hughoreilly@apple.iehughoreilly@apple.iehughor...
47,LucasLucasLucasLucasLucasLucasLucas,ManciniManciniManciniManciniManciniManciniMancini,RomeRomeRomeRomeRomeRomeRome,lucas.mancini@yahoo.itlucas.mancini@yahoo.itlu...
48,JohannesJohannesJohannesJohannesJohannesJohann...,Van der BergVan der BergVan der BergVan der Be...,AmsterdamAmsterdamAmsterdamAmsterdamAmsterdamA...,johavanderberg@yahoo.nljohavanderberg@yahoo.nl...
49,StanisławStanisławStanisławStanisławStanisławS...,WójcikWójcikWójcikWójcikWójcikWójcikWójcik,WarsawWarsawWarsawWarsawWarsawWarsawWarsaw,stanisław.wójcik@wp.plstanisław.wójcik@wp.plst...
50,EnriqueEnriqueEnriqueEnriqueEnriqueEnriqueEnrique,MuñozMuñozMuñozMuñozMuñozMuñozMuñoz,MadridMadridMadridMadridMadridMadridMadrid,enrique_munoz@yahoo.esenrique_munoz@yahoo.esen...
51,JoakimJoakimJoakimJoakimJoakimJoakimJoakim,JohanssonJohanssonJohanssonJohanssonJohanssonJ...,StockholmStockholmStockholmStockholmStockholmS...,joakim.johansson@yahoo.sejoakim.johansson@yaho...
52,EmmaEmmaEmmaEmmaEmmaEmmaEmma,JonesJonesJonesJonesJonesJonesJones,LondonLondonLondonLondonLondonLondonLondon,emma_jones@hotmail.comemma_jones@hotmail.comem...
53,PhilPhilPhilPhilPhilPhilPhil,HughesHughesHughesHughesHughesHughesHughes,LondonLondonLondonLondonLondonLondonLondon,phil.hughes@gmail.comphil.hughes@gmail.comphil...
54,SteveSteveSteveSteveSteveSteveSteve,MurrayMurrayMurrayMurrayMurrayMurrayMurray,Edinburgh Edinburgh Edinburgh Edinburgh Edinbu...,steve.murray@yahoo.uksteve.murray@yahoo.ukstev...
55,MarkMarkMarkMarkMarkMarkMark,TaylorTaylorTaylorTaylorTaylorTaylorTaylor,SidneySidneySidneySidneySidneySidneySidney,mark.taylor@yahoo.aumark.taylor@yahoo.aumark.t...
56,DiegoDiegoDiegoDiegoDiegoDiegoDiego,GutiérrezGutiérrezGutiérrezGutiérrezGutiérrezG...,Buenos AiresBuenos AiresBuenos AiresBuenos Air...,diego.gutierrez@yahoo.ardiego.gutierrez@yahoo....
57,LuisLuisLuisLuisLuisLuisLuis,RojasRojasRojasRojasRojasRojasRojas,SantiagoSantiagoSantiagoSantiagoSantiagoSantia...,luisrojas@yahoo.clluisrojas@yahoo.clluisrojas@...
58,ManojManojManojManojManojManojManoj,PareekPareekPareekPareekPareekPareekPareek,DelhiDelhiDelhiDelhiDelhiDelhiDelhi,manoj.pareek@rediff.commanoj.pareek@rediff.com...
59,PujaPujaPujaPujaPujaPuja,SrivastavaSrivastavaSrivastavaSrivastavaSrivas...,BangaloreBangaloreBangaloreBangaloreBangaloreB...,puja_srivastava@yahoo.inpuja_srivastava@yahoo....

In [13]:
new_df1.groupby("CustomerId")["FirstName",'LastName','City','Email'].count()

            FirstName  LastName  City  Email
CustomerId
1                   7         7     7      7
2                   7         7     7      7
3                   7         7     7      7
4                   7         7     7      7
5                   7         7     7      7
6                   7         7     7      7
7                   7         7     7      7
8                   7         7     7      7
9                   7         7     7      7
10                  7         7     7      7
11                  7         7     7      7
12                  7         7     7      7
13                  7         7     7      7
14                  7         7     7      7
15                  7         7     7      7
16                  7         7     7      7
17                  7         7     7      7
18                  7         7     7      7
19                  7         7     7      7
20                  7         7     7      7
21                  7         7     7      7
22                  7         7     7      7
23                  7         7     7      7
24                  7         7     7      7
25                  7         7     7      7
26                  7         7     7      7
27                  7         7     7      7
28                  7         7     7      7
29                  7         7     7      7
30                  7         7     7      7
31                  7         7     7      7
32                  7         7     7      7
33                  7         7     7      7
34                  7         7     7      7
35                  7         7     7      7
36                  7         7     7      7
37                  7         7     7      7
38                  7         7     7      7
39                  7         7     7      7
40                  7         7     7      7
41                  7         7     7      7
42                  7         7     7      7
43                  7         7     7      7
44                  7         7     7      7
45                  7         7     7      7
46                  7         7     7      7
47                  7         7     7      7
48                  7         7     7      7
49                  7         7     7      7
50                  7         7     7      7
51                  7         7     7      7
52                  7         7     7      7
53                  7         7     7      7
54                  7         7     7      7
55                  7         7     7      7
56                  7         7     7      7
57                  7         7     7      7
58                  7         7     7      7
59                  6         6     6      6

After running the query described above, what is the email address of the 5th person, František Wichterlová? Enter the answer below (feel free to copy and paste).

frantisekw@jetbrains.com

Retrieve the track name, album, artistID, and trackID for all the albums

In [14]:
track

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,NaN,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,NaN,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

In [15]:
artist = pd.read_csv("Artist.csv")

In [16]:
artist

     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]

In [17]:
album = pd.read_csv("Album.csv")

In [18]:
album

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [19]:
albumartist = pd.merge(left=album, right=artist, on="ArtistId")

In [20]:
albumartist

,AlbumId,Title,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,AC/DC
1,4,Let There Be Rock,1,AC/DC
2,2,Balls to the Wall,2,Accept
3,3,Restless and Wild,2,Accept
4,5,Big Ones,3,Aerosmith
...,...,...,...,...
342,342,"Locatelli: Concertos for Violin, Strings and C...",271,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp"
343,344,Schubert: The Late String Quartets & String Qu...,272,Emerson String Quartet
344,345,Monteverdi: L'Orfeo,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
345,346,Mozart: Chamber Music,274,Nash Ensemble
346,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,Philip Glass Ensemble

In [21]:
new_df2 = pd.merge(left=track, right=albumartist, on="AlbumId")

In [22]:
new_df2

,TrackId,Name_x,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,Title,ArtistId,Name_y
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,For Those About To Rock We Salute You,1,AC/DC
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99,For Those About To Rock We Salute You,1,AC/DC
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99,For Those About To Rock We Salute You,1,AC/DC
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99,For Those About To Rock We Salute You,1,AC/DC
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99,For Those About To Rock We Salute You,1,AC/DC
...,...,...,...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,NaN,286741,4718950,0.99,Respighi:Pines of Rome,226,Eugene Ormandy
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99,Schubert: The Late String Quartets & String Qu...,272,Emerson String Quartet
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99,Monteverdi: L'Orfeo,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99,Mozart: Chamber Music,274,Nash Ensemble
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,Philip Glass Ensemble

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" album? Enter the answer below

In [23]:
new_df2[new_df2["TrackId"] == 12]

,TrackId,Name_x,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,Title,ArtistId,Name_y
7,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99,For Those About To Rock We Salute You,1,AC/DC

Retrieve a list with the managers last name, and the last name of the employees who report to him or her.

In [24]:
employee = pd.read_csv("Employee.csv")

In [25]:
employee

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

After running the query described above, who are the reports for the manager named Mitchell (select all that apply)?

King and Callahan

In [26]:
new_df2

,TrackId,Name_x,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,Title,ArtistId,Name_y
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,For Those About To Rock We Salute You,1,AC/DC
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99,For Those About To Rock We Salute You,1,AC/DC
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99,For Those About To Rock We Salute You,1,AC/DC
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99,For Those About To Rock We Salute You,1,AC/DC
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99,For Those About To Rock We Salute You,1,AC/DC
...,...,...,...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,NaN,286741,4718950,0.99,Respighi:Pines of Rome,226,Eugene Ormandy
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99,Schubert: The Late String Quartets & String Qu...,272,Emerson String Quartet
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99,Monteverdi: L'Orfeo,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99,Mozart: Chamber Music,274,Nash Ensemble
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,Philip Glass Ensemble

In [27]:
new_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3503 entries, 0 to 3502
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TrackId       3503 non-null   int64
 1   Name_x        3503 non-null   object
 2   AlbumId       3503 non-null   int64
 3   MediaTypeId   3503 non-null   int64
 4   GenreId       3503 non-null   int64
 5   Composer      2525 non-null   object
 6   Milliseconds  3503 non-null   int64
 7   Bytes         3503 non-null   int64
 8   UnitPrice     3503 non-null   float64
 9   Title         3503 non-null   object
 10  ArtistId      3503 non-null   int64
 11  Name_y        3503 non-null   object
dtypes: float64(1), int64(7), object(4)
memory usage: 355.8+ KB

In [28]:
new_df2.groupby("ArtistId").count()

,TrackId,Name_x,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,Title,Name_y
ArtistId,,,,,,,,,,,
1,18,18,18,18,18,18,18,18,18,18,18
2,4,4,4,4,4,3,4,4,4,4,4
3,15,15,15,15,15,15,15,15,15,15,15
4,13,13,13,13,13,13,13,13,13,13,13
5,12,12,12,12,12,12,12,12,12,12,12
...,...,...,...,...,...,...,...,...,...,...,...
271,1,1,1,1,1,1,1,1,1,1,1
272,1,1,1,1,1,1,1,1,1,1,1
273,1,1,1,1,1,1,1,1,1,1,1
274,1,1,1,1,1,1,1,1,1,1,1
275,1,1,1,1,1,1,1,1,1,1,1

In [29]:
zeroalbums = pd.DataFrame(new_df2.groupby("ArtistId").count())

In [30]:
zeroalbums

,TrackId,Name_x,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,Title,Name_y
ArtistId,,,,,,,,,,,
1,18,18,18,18,18,18,18,18,18,18,18
2,4,4,4,4,4,3,4,4,4,4,4
3,15,15,15,15,15,15,15,15,15,15,15
4,13,13,13,13,13,13,13,13,13,13,13
5,12,12,12,12,12,12,12,12,12,12,12
...,...,...,...,...,...,...,...,...,...,...,...
271,1,1,1,1,1,1,1,1,1,1,1
272,1,1,1,1,1,1,1,1,1,1,1
273,1,1,1,1,1,1,1,1,1,1,1
274,1,1,1,1,1,1,1,1,1,1,1
275,1,1,1,1,1,1,1,1,1,1,1

In [31]:
zeroalbums.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 1 to 275
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TrackId       204 non-null    int64
 1   Name_x        204 non-null    int64
 2   AlbumId       204 non-null    int64
 3   MediaTypeId   204 non-null    int64
 4   GenreId       204 non-null    int64
 5   Composer      204 non-null    int64
 6   Milliseconds  204 non-null    int64
 7   Bytes         204 non-null    int64
 8   UnitPrice     204 non-null    int64
 9   Title         204 non-null    int64
 10  Name_y        204 non-null    int64
dtypes: int64(11)
memory usage: 19.1 KB

After running the query described above, two of the records returned have the same last name. Enter that name below.

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order.

In [32]:
employee

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [33]:
customers

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
2,3,François,Tremblay,NaN,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,NaN,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,NaN,Ullevålsveien 14,Oslo,NaN,Norway,0171,+47 22 44 22 22,NaN,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,NaN,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,NaN,Rilská 3174/6,Prague,NaN,Czech Republic,14300,+420 2 4177 0449,NaN,hholy@gmail.com,5
6,7,Astrid,Gruber,NaN,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,NaN,Austria,1010,+43 01 5134505,NaN,astrid.gruber@apple.at,5
7,8,Daan,Peeters,NaN,Grétrystraat 63,Brussels,NaN,Belgium,1000,+32 02 219 03 03,NaN,daan_peeters@apple.be,4
8,9,Kara,Nielsen,NaN,Sønder Boulevard 51,Copenhagen,NaN,Denmark,1720,+453 3331 9991,NaN,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,NaN,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,NaN,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,NaN,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,NaN,dmiller@comcast.com,4
20,21,Kathy,Chase,NaN,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,NaN,kachase@hotmail.com,5
21,22,Heather,Leacock,NaN,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,NaN,hleacock@gmail.com,4
22,23,John,Gordon,NaN,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,NaN,johngordon22@yahoo.com,4
23,24,Frank,Ralston,NaN,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,NaN,fralston@gmail.com,3
24,25,Victor,Stevens,NaN,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,NaN,vstevens@yahoo.com,5
25,26,Richard,Cunningham,NaN,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,NaN,ricunningham@hotmail.com,4
26,27,Patrick,Gray,NaN,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,NaN,patrick.gray@aol.com,4
27,28,Julia,Barnett,NaN,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,NaN,jubarnett@gmail.com,5
28,29,Robert,Brown,NaN,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,NaN,robbrown@shaw.ca,3
29,30,Edward,Francis,NaN,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,NaN,edfrancis@yachoo.ca,3
30,31,Martha,Silk,NaN,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,NaN,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,NaN,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,NaN,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,NaN,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,NaN,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,NaN,Rua da Assunção 53,Lisbon,NaN,Portugal,NaN,+351 (213) 466-111,NaN,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
35,36,Hannah,Schneider,NaN,Tauentzienstraße 8,Berlin,NaN,Germany,10789,+49 030 26550280,NaN,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,NaN,Berger Straße 10,Frankfurt,NaN,Germany,60316,+49 069 40598889,NaN,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,NaN,Barbarossastraße 19,Berlin,NaN,Germany,10779,+49 030 2141444,NaN,nschroder@surfeu.de,3
38,39,Camille,Bernard,NaN,"4, Rue Milton",Paris,NaN,France,75009,+33 01 49 70 65 65,NaN,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,NaN,"8, Rue Hanovre",Paris,NaN,France,75002,+33 01 47 42 71 71,NaN,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,NaN,"11, Place Bellecour",Lyon,NaN,France,69002,+33 04 78 30 30 30,NaN,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,NaN,"9, Place Louis Barthou",Bordeaux,NaN,France,33000,+33 05 56 96 96 96,NaN,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,NaN,"68, Rue Jouvence",Dijon,NaN,France,21000,+33 03 80 73 66 99,NaN,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,00530,+358 09 870 2000,NaN,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,NaN,Erzsébet krt. 58.,Budapest,NaN,Hungary,H-1073,NaN,NaN,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,NaN,3 Chatham Street,Dublin,Dublin,Ireland,NaN,+353 01 6792424,NaN,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,NaN,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,NaN,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,NaN,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,NaN,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,NaN,Ordynacka 10,Warsaw,NaN,Poland,00-358,+48 22 828 37 39,NaN,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,NaN,C/ San Bernardo 85,Madrid,NaN,Spain,28015,+34 914 454 454,NaN,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,NaN,Celsiusg. 9,Stockholm,NaN,Sweden,11230,+46 08-651 52 52,NaN,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,NaN,202 Hoxton Street,London,NaN,United Kingdom,N1 5LH,+44 020 7707 0707,NaN,emma_jones@hotmail.com,3
52,53,Phil,Hughes,NaN,113 Lupus St,London,NaN,United Kingdom,SW1V 3EN,+44 020 7976 5722,NaN,phil.hughes@gmail.com,3
53,54,Steve,Murray,NaN,110 Raeburn Pl,Edinburgh,NaN,United Kingdom,EH4 1HH,+44 0131 315 3300,NaN,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,NaN,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,NaN,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,NaN,307 Macacha Güemes,Buenos Aires,NaN,Argentina,1106,+54 (0)11 4311 4333,NaN,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,NaN,"Calle Lira, 198",Santiago,NaN,Chile,NaN,+56 (0)2 635 4444,NaN,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,NaN,"12,Community Centre",Delhi,NaN,India,110017,+91 0124 39883988,NaN,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,3

In [34]:
new_df4 = pd.concat([employee,customers],axis=0)

In [35]:
new_df4

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email,CustomerId,Company,SupportRepId
0,1.0,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com,NaN,NaN,NaN
1,2.0,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com,NaN,NaN,NaN
2,3.0,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com,NaN,NaN,NaN
3,4.0,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com,NaN,NaN,NaN
4,5.0,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,NaN,Taylor,Mark,NaN,NaN,NaN,NaN,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,NaN,mark.taylor@yahoo.au,55.0,NaN,4.0
55,NaN,Gutiérrez,Diego,NaN,NaN,NaN,NaN,307 Macacha Güemes,Buenos Aires,NaN,Argentina,1106,+54 (0)11 4311 4333,NaN,diego.gutierrez@yahoo.ar,56.0,NaN,4.0
56,NaN,Rojas,Luis,NaN,NaN,NaN,NaN,"Calle Lira, 198",Santiago,NaN,Chile,NaN,+56 (0)2 635 4444,NaN,luisrojas@yahoo.cl,57.0,NaN,5.0
57,NaN,Pareek,Manoj,NaN,NaN,NaN,NaN,"12,Community Centre",Delhi,NaN,India,110017,+91 0124 39883988,NaN,manoj.pareek@rediff.com,58.0,NaN,3.0
58,NaN,Srivastava,Puja,NaN,NaN,NaN,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,59.0,NaN,3.0

After running the query described above, determine what is the last name of the 6th record? Enter it below. Remember to order things in descending order to be sure to get the correct answer.

In [36]:
new_df4.iloc[5]

EmployeeId                            6
LastName                       Mitchell
FirstName                       Michael
Title                        IT Manager
ReportsTo                             1
BirthDate           1973-07-01 00:00:00
HireDate            2003-10-17 00:00:00
Address            5827 Bowness Road NW
City                            Calgary
State                                AB
Country                          Canada
PostalCode                      T3B 0C5
Phone                 +1 (403) 246-9887
Fax                   +1 (403) 246-9899
Email           michael@chinookcorp.com
CustomerId                          NaN
Company                             NaN
SupportRepId                        NaN
Name: 5, dtype: object

See if there are any customers who have a different city listed in their billing city versus their customer city.

In [37]:
customers

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
2,3,François,Tremblay,NaN,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,NaN,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,NaN,Ullevålsveien 14,Oslo,NaN,Norway,0171,+47 22 44 22 22,NaN,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,NaN,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,NaN,Rilská 3174/6,Prague,NaN,Czech Republic,14300,+420 2 4177 0449,NaN,hholy@gmail.com,5
6,7,Astrid,Gruber,NaN,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,NaN,Austria,1010,+43 01 5134505,NaN,astrid.gruber@apple.at,5
7,8,Daan,Peeters,NaN,Grétrystraat 63,Brussels,NaN,Belgium,1000,+32 02 219 03 03,NaN,daan_peeters@apple.be,4
8,9,Kara,Nielsen,NaN,Sønder Boulevard 51,Copenhagen,NaN,Denmark,1720,+453 3331 9991,NaN,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,NaN,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,NaN,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,NaN,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,NaN,dmiller@comcast.com,4
20,21,Kathy,Chase,NaN,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,NaN,kachase@hotmail.com,5
21,22,Heather,Leacock,NaN,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,NaN,hleacock@gmail.com,4
22,23,John,Gordon,NaN,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,NaN,johngordon22@yahoo.com,4
23,24,Frank,Ralston,NaN,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,NaN,fralston@gmail.com,3
24,25,Victor,Stevens,NaN,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,NaN,vstevens@yahoo.com,5
25,26,Richard,Cunningham,NaN,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,NaN,ricunningham@hotmail.com,4
26,27,Patrick,Gray,NaN,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,NaN,patrick.gray@aol.com,4
27,28,Julia,Barnett,NaN,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,NaN,jubarnett@gmail.com,5
28,29,Robert,Brown,NaN,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,NaN,robbrown@shaw.ca,3
29,30,Edward,Francis,NaN,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,NaN,edfrancis@yachoo.ca,3
30,31,Martha,Silk,NaN,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,NaN,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,NaN,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,NaN,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,NaN,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,NaN,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,NaN,Rua da Assunção 53,Lisbon,NaN,Portugal,NaN,+351 (213) 466-111,NaN,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
35,36,Hannah,Schneider,NaN,Tauentzienstraße 8,Berlin,NaN,Germany,10789,+49 030 26550280,NaN,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,NaN,Berger Straße 10,Frankfurt,NaN,Germany,60316,+49 069 40598889,NaN,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,NaN,Barbarossastraße 19,Berlin,NaN,Germany,10779,+49 030 2141444,NaN,nschroder@surfeu.de,3
38,39,Camille,Bernard,NaN,"4, Rue Milton",Paris,NaN,France,75009,+33 01 49 70 65 65,NaN,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,NaN,"8, Rue Hanovre",Paris,NaN,France,75002,+33 01 47 42 71 71,NaN,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,NaN,"11, Place Bellecour",Lyon,NaN,France,69002,+33 04 78 30 30 30,NaN,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,NaN,"9, Place Louis Barthou",Bordeaux,NaN,France,33000,+33 05 56 96 96 96,NaN,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,NaN,"68, Rue Jouvence",Dijon,NaN,France,21000,+33 03 80 73 66 99,NaN,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,00530,+358 09 870 2000,NaN,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,NaN,Erzsébet krt. 58.,Budapest,NaN,Hungary,H-1073,NaN,NaN,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,NaN,3 Chatham Street,Dublin,Dublin,Ireland,NaN,+353 01 6792424,NaN,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,NaN,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,NaN,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,NaN,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,NaN,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,NaN,Ordynacka 10,Warsaw,NaN,Poland,00-358,+48 22 828 37 39,NaN,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,NaN,C/ San Bernardo 85,Madrid,NaN,Spain,28015,+34 914 454 454,NaN,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,NaN,Celsiusg. 9,Stockholm,NaN,Sweden,11230,+46 08-651 52 52,NaN,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,NaN,202 Hoxton Street,London,NaN,United Kingdom,N1 5LH,+44 020 7707 0707,NaN,emma_jones@hotmail.com,3
52,53,Phil,Hughes,NaN,113 Lupus St,London,NaN,United Kingdom,SW1V 3EN,+44 020 7976 5722,NaN,phil.hughes@gmail.com,3
53,54,Steve,Murray,NaN,110 Raeburn Pl,Edinburgh,NaN,United Kingdom,EH4 1HH,+44 0131 315 3300,NaN,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,NaN,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,NaN,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,NaN,307 Macacha Güemes,Buenos Aires,NaN,Argentina,1106,+54 (0)11 4311 4333,NaN,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,NaN,"Calle Lira, 198",Santiago,NaN,Chile,NaN,+56 (0)2 635 4444,NaN,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,NaN,"12,Community Centre",Delhi,NaN,India,110017,+91 0124 39883988,NaN,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,3

In [38]:
invoices

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,NaN,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,NaN,Belgium,1000,5.94
3,4,14,2009-01-06 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,2009-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86
...,...,...,...,...,...,...,...,...,...
407,408,25,2013-12-05 00:00:00,319 N. Frances Street,Madison,WI,USA,53703,3.96
408,409,29,2013-12-06 00:00:00,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
409,410,35,2013-12-09 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,8.91
410,411,44,2013-12-14 00:00:00,Porthaninkatu 9,Helsinki,NaN,Finland,00530,13.86
411,412,58,2013-12-22 00:00:00,"12,Community Centre",Delhi,NaN,India,110017,1.99

In [39]:
new_df5 = pd.merge(left=invoices,right=customers,on="CustomerId")

In [40]:
new_df5

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,1.98,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
1,12,2,2009-02-11 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,13.86,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
2,67,2,2009-10-12 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,8.91,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
3,196,2,2011-05-19 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,1.98,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
4,219,2,2011-08-21 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,3.96,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,171,35,2011-01-17 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,5.94,Madalena,Sampaio,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
408,223,35,2011-09-07 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,0.99,Madalena,Sampaio,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
409,344,35,2013-02-28 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,1.98,Madalena,Sampaio,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
410,355,35,2013-04-10 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,13.86,Madalena,Sampaio,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
411,410,35,2013-12-09 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,8.91,Madalena,Sampaio,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4

In [41]:
new_df6 = new_df5[["BillingCity","City"]]

In [42]:
new_df6

    BillingCity       City
0     Stuttgart  Stuttgart
1     Stuttgart  Stuttgart
2     Stuttgart  Stuttgart
3     Stuttgart  Stuttgart
4     Stuttgart  Stuttgart
..          ...        ...
407       Porto      Porto
408       Porto      Porto
409       Porto      Porto
410       Porto      Porto
411       Porto      Porto

[412 rows x 2 columns]

In [43]:
new_df6.to_csv("comparebilling.csv",index=False)